*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #494E3F;
}

/* Aside */
aside{
    margin: 0 30px 0 50px;
    background-color: #c4e2ca;
    width: 20%;
    float: left;
}
 /* profil section */
img{
    width: 70%;
    border-radius: 50%;
    display: block;
    margin: auto auto 10px auto;
}

aside section.profil {
    text-align: center;
}

aside section.profil h4.date_de_naissance, p.recherche{
    margin: 0 0 25px 0;
}

span{
    text-decoration: underline;
}

aside section.profil p.recherche, p.description{
    font-weight: bold;
}

/* aside section.profile p.description::before{
    content: "";
    position: absolute;
    background-color: #494E3F;
    width: 20px;
    height: 20px;
} */

aside section.profil p.recherche{
    margin: 0 0 25px 0;
}
 /* fin de profil section */

aside section.skills, section.loisirs, section.langues{
    margin: 15px 0 0 50px;
}

aside section.contact{
    margin: 25px 0 10px 50px;
}

aside section.contact address{
    display: flex;
    flex-direction: column;
}
/* fin aside */