@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #494E3F;
    
} 

body{
    display: flex;
}

h1, h2, h3, h4, h5, p{
    font-family: 'Mulish', sans-serif;
}

h1{
    font-size: 27px;
    font-weight: 800;
}

h2{
    font-size: 25px;
    font-weight: bold;
}

h3{
    text-decoration: underline;
    font-size: 20px;
    font-weight: 600;
    padding: 0 0 10px 0;
}

h4{
    font-size: 15px;
}

h5{
    font-size: 15px;
    font-weight: bold;
}


/* Aside */
aside{
    margin: 0 30px 0 25vw;
    background-color: #c4e2ca;
    width: 20%;
    border-left: 1px solid #494E3F;
}
 /* profil section */
img{
    width: 70%;
    border-radius: 50%;
    display: block;
    margin: 20px auto 10px auto;
}

aside section.profil {
    text-align: center;
}

aside section.profil h4.date_de_naissance, p.recherche{
    margin: 0 0 25px 0;
}

aside ul{
    list-style-type: circle;
}

aside section.profil p.recherche span{
    text-decoration: underline;
}

aside section.profil p.recherche, p.description{
    font-weight: bold;
}

aside section.profil p.recherche{
    margin: 0 0 25px 0;
}
 /* fin de profil section */

aside section.skills, section.loisirs, section.langues{
    margin: 15px 0 0 50px;
}

/* contact */

aside section.contact h3{
    padding: 0 0 10px 0;
}

/* aside section.contact{
    margin: 25px 0 10px 15px;
} */

aside section.contact i{
    margin: 0 10px 5px 0;
}

aside section.contact address p{
    display: inline;
    font-size: 15px;
}

/* trait de séparation des sections */
aside section.profil p.description{
    border-top: 3px solid #587D9F;
    padding-top: 25px;
    margin: 0 15px;
}

aside section.skills, section.loisirs, section.langues{
    border-top: 3px solid #587D9F;
    padding: 25px 0 0 15px;
    margin: 15px 15px;
}

aside section.contact{
    border-top: 3px solid #587D9F;
    border-style: dotted;
    padding: 25px 0 0 15px;
    margin: 15px 15px;
}


/* fin aside */

/* main */

main{
    border-right: 1px solid #494E3F;
}

main section.principal h2{
    margin-bottom: 20px
}

/* formations */
/* main section.principal img{
    width: 25px;
    display: inline;
} */

main section.principal h2{
    box-sizing: border-box;
    max-width: 100vw;
    width: 500px;
    padding: 10px 0 10px 5px;
    margin-top: 50px;
    background: #c4e2ca;
}

main section.principal article.formation{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

main section.principal article.formation2{
    margin-top: 40px;
}

main section.principal article.formation2 p{
    max-width: 30vw;
}

main section.principal article.formation3 p{
    max-width: 30vw;
}



/* fin de formations */

/* competences */

main section.principal ul.progress_bar{
    margin-left: 40px;
}

main section.principal ul.progress_bar li{
    font-size: 17px;
    margin-bottom: 12px;
}

main section.principal ul.progress_bar li progress.html_{
    margin-left: 47px;
}

main section.principal ul.progress_bar li progress.css{
    margin-left: 64px;
}

main section.principal ul.progress_bar li progress.js{
    margin-left: 23px;
}

main section.principal ul.progress_bar li progress.react{
    margin-left: 55px;
}

main section.principal ul.progress_bar li progress.c{
    margin-left: 20px;
}

main section.principal ul.progress_bar li progress.sir{
    margin-left: 52px;
}

main section.principal ul.progress_bar li progress.git{
    margin-left: 16px;
}

/* fin de competences */

/* experiences */

main section.principal article.mcdo{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

main section.principal article.mcdo ul{
    list-style: circle;
    max-width: 450px;
}

/* fin experiences */

/* fin main */